---
const { title = 'Nia · Portfolio', description = 'Portfolio con Astro' } =
	Astro.props;
---

<html lang='es'>
	<head>
		<meta charset='utf-8' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1'
		/>
		<meta
			name='description'
			content={description}
		/>
		<title>{title}</title>
	</head>
	<body class='min-h-dvh bg-neutral-950 text-neutral-100 antialiased'>
		<slot />
	</body>
</html>
